@{
    ViewData["Title"] = "Equipment";
}
@section styles {
<link rel="stylesheet" href="~/css/add.css" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
}

<div id="container" class="body">
    @if (ViewBag != null && ViewBag.errors != null)
    {
        <div class="error">@(ViewBag.errors.image[0])</div>
    }
    <h1>เพิ่มอุปกรณ์ใหม่</h1><br>
    <form method="post" asp-route="create-equipment" auto-complete="off">
        <section>
            <figure id="photo"
                class="@(ViewBag != null && ViewBag.errors != null && ViewBag.errors.image != null ? "error" : "")">
                <input type="file" accept=".jpg, .jpeg, .png, .gif" name="files" id="upload_button"
                    onchange="loadFile(event)" style="display: none;"
                    class="@(ViewBag != null && ViewBag.errors != null && ViewBag.errors.image != null ? "error" : "")">
                <label for="upload_button" style="cursor: pointer;">
                    <i class="material-icons" id="photo_icon">add_photo_alternate</i>
                </label>
                <img id="output" width="500" />
                @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.image != null)
                {
                    <div class="error">@(ViewBag.errors.image[0])</div>
                }
            </figure>
            <aside>
                <div class="add-block">
                    <label for="name">ชื่ออุปกรณ์</label><br>
                    <input type="text" id="name" name="name"
                        class="@("inputbox" + (ViewBag != null && ViewBag.errors != null && ViewBag.errors.name != null ? " error" : ""))"
                        placeholder="ระบุชื่ออุปกรณ์"
                        value="@(ViewBag != null && ViewBag.equipment != null && ViewBag.equipment.name != null ? ViewBag.equipment.name : "")">
                    @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.name != null)
                    {
                        <div class="error">@(ViewBag.errors.name[0])</div>
                    }
                </div>
                <br><br>
                <div class="add-block">
                    <label for="quantity">จำนวน (ชิ้น)</label><br>
                    <input type="number" id="quantity" min="1" name="amount"
                        value="@(ViewBag != null && ViewBag.equipment != null && ViewBag.equipment.amount != null ? ViewBag.equipment.amount : "")"
                        class="@("inputbox" + (ViewBag != null && ViewBag.errors != null && ViewBag.errors.amount != null ? " error" : ""))"
                        placeholder="ระบุจำนวนของอุปกรณ์นี้">
                    @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.amount != null)
                    {
                        <div class="error">@(ViewBag.errors.amount[0])</div>
                    }
                </div>
                <br><br>
                <label for="lab">ห้องปฏิบัติการ</label><br>

                <div id="select">
                    <select name="description" id="lab"
                        class="@("inputbox" + (ViewBag != null && ViewBag.errors != null && ViewBag.errors.description != null ? " error" : "") + (ViewBag != null && ViewBag.equipment != null ? " " + ViewBag.equipment.description : ""))"
                        required onmouseup="a()">
                        <option selected disabled hidden value="none">------โปรดระบุ------</option>
                        <option value="ห้องปฏิบัติการ 1">ห้องปฏิบัติการ 1</option>
                        <option value="ห้องปฏิบัติการ 2">ห้องปฏิบัติการ 2</option>
                        <option value="ห้องปฏิบัติการ 3">ห้องปฏิบัติการ 3</option>
                        <option value="ห้องปฏิบัติการ 4">ห้องปฏิบัติการ 4</option>
                        <option value="ห้องปฏิบัติการ 5">ห้องปฏิบัติการ 5</option>
                    </select>
                    @if (ViewBag != null && ViewBag.errors != null && ViewBag.errors.description != null)
                    {
                        <div class="error">@(ViewBag.errors.description[0])</div>
                    }
                </div>
                <div id="button_container">
                    <button type="button" id="back-bt" onclick="back()">ยกเลิก</button>
                    <button type="submit" id="confirm-bt">ยืนยัน</button>
                </div>
            </aside>
        </section>
    </form>
</div>

<script>
    let select = document.getElementById("lab");
    if (select.value == "none") select.style.color = "#C5C5C5";
    else select.style.color = "#444444";
    function a() {
        if (select.value == "none") select.style.color = "#C5C5C5";
        else select.style.color = "#444444";
    }
    window.onload = () => {
        let x = select.classList.toString().split(" ")[select.classList.toString().split(" ").length - 1];
        if (x != "errors" && x != "" && x != "inputbox") {
            select.value = `ห้องปฏิบัติการ ${x}`;
            select.style.color = "#444444";
        }
    }
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
    var back = function() {
        window.location.replace('/admin/equipment');
    }
</script>