<div>
    <h1>eiei</h1>
    @foreach (var a in @ViewBag.borrowingList)
    {
        <div>@a.user.name</div>
        <div>@a.user.surname</div>
        <div>@a.user.email</div>
        <div>@a.equipment.name</div>
        <div>@a.equipment.description</div>
        <div>@a.borrowing.startDate</div>
        <div>@a.borrowing.endDate</div>
    }
</div>