@{
    @using System;
    @using System.Security.Claims;
    ViewData["Title"] = "BookingPage";

    bool[] array = { false, false, false, false, false, false, false, false };
    string checkIcon = "/image/checkIcon-white.png";
    string clockRed = "/image/clock-red.png";
    string clockWhite = "/image/clock-white.png";
    string clockSkyblue = "/image/clock-skyblue.png";
    string cross = "/image/cross.png";
    bool isAuthenticated = Context.User.Identity.IsAuthenticated;
    string userId = isAuthenticated ? Context.User.Claims.Where(claim =>
    claim.Type == ClaimTypes.NameIdentifier).FirstOrDefault().Value : "";
}

@section styles{
<link rel="stylesheet" href="~/css/booking.css" type="text/css" />
}

@* <p>Looking for the @ViewData["EquipmentName"]</p> *@

@* <h1>@ViewData["Title"]</h1> *@
<div class="booking">
    <div class="booking-left">

        @* <div style="color:white">
            @ViewBag.equipment.name
            @ViewBag.equipment.description
            @ViewBag.equipment.amount
            <img src=@(ViewBag.equipment.image) alt=@(ViewBag.equipment.name)/>
            @ViewBag.availableTime.time
            @foreach (var item in ViewBag.availableTime.time)
            {
            <div>@item</div>
            }
            </div> *@
        <div id="equipmentName">
            <p>@ViewBag.equipment.name</p>
        </div>
        <div id="equipmentPic">
            <img src=@(ViewBag.equipment.image) alt=@(ViewBag.equipment.name) />
        </div>
        <div id="calendar">
            <div id="month-year">

                <div>
                    <p id="month"></p>
                    <p id="year"></p>
                </div>

                <div id="monthButton">
                    <button onclick="prevMonth()">
                        <</button>
                            <button onclick="nextMonth()">></button>
                </div>

            </div>
            <div id="calendar-days"></div>
        </div>



        <div class="bookingRange">
            @* <div>
                <p>ยืมวันที่ : </p>
                <p id="getDate"></p>
                </div>
                <div>
                <p>ช่วงเวลาที่ยืม :</p>
                </div> *@
            <h4 id="guideText">...กรุณาเลือกเวลาที่ต้องการยืม...</h4>
            <button id="bookButton" onclick="toConfirm()">จอง</button>
        </div>
    </div>
    <div class="booking-right">
        <div id="bookingCards" class="booking-right-bottom"></div>
    </div>

    <div id="confirmPopup">
        <p>ทำการการจอง @ViewBag.equipment.name ตามช่วงเวลานี้</p>
        <div id="bookingList"></div>
        <p>ถูกต้องหรือไม่ ?</p>
        <button id="confirmButton" onclick="book('@isAuthenticated', '@userId')">ยืนยันการจอง</button>
        <button id="cancelButton" onclick="cancelBooking()">ยกเลิก</button>
    </div>
    <div id="confirmPopup-background"></div>
</div>

<script>
    document.getElementById("confirmPopup").className = "hidden";
    document.getElementById("confirmPopup-background").className = "hidden";


    var equipmentId = window.location.href.split("/")[window.location.href.split("/").length - 1];
    var today = new Date();
    var time = today.getTime();
    var date = new Date(time);
    if (today.getHours() >= 16) date.setDate(today.getDate() + 1);

    var availableNumber = [];
    var bookingArr = [];

    function canBook() {
        for (var i = 0; i < availableNumber.length; i++) {
            if (bookingArr[i]) return "book";
        }
        return "cantBook";
    }

    document.getElementById("bookButton").className = canBook();
    document.getElementById("guideText").className = canBook();

    function resetArr() {
        bookingArr = [];
        for (var i = 0; i < 8; i++) {
            bookingArr.push(false);
        }
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }

    var loading = true;
    loadBooking(formatDate(date));

    resetArr();

    setCalendar(date);
    setSelectedCards(date);
    getDate();

    function setCalendar(d) {
        var day = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var firstDayOfMonth = new Date(d.getFullYear(), d.getMonth(), 1).getDay();
        var lastDayOfMonth = new Date(d.getFullYear(), d.getMonth() + 1, 0).getDay();
        var daysInMonth = new Date(d.getFullYear(), d.getMonth() + 1, 0).getDate();
        var lastDayOfPrevMonth = new Date(d.getFullYear(), d.getMonth(), 0).getDate();

        var m = d.getMonth();
        var y = d.getFullYear();
        var i, days = "";
        var counter = 0;

        document.getElementById("month").innerHTML = months[m];
        document.getElementById("year").innerHTML = y.toString();

        for (i = 0; i < 7; i++) {
            days = days + "<div class='days'>" + day[i] + "</div>";
        }
        for (i = 0; i < firstDayOfMonth; i++) {
            var x = lastDayOfPrevMonth - (firstDayOfMonth - i) + 1;
            var theDay = new Date(d.getTime());
            theDay.setMonth(m - 1);
            theDay.setDate(x - 1);
            var dd = x;
            var mm = m - 1;
            var yy = y;
            if (dd < 10) dd = "0" + dd;
            if (mm < 0) {
                mm = 11;
                yy -= 1;
            }
            if (mm < 10) mm = "0" + mm;
            if (theDay < today || (theDay <= today && today.getHours() >= 16)) {
                days = days + "<div class='notAvailableDay'>" + x + "</div>";
            }
            else
                days = days + "<div class='notAvailableDay hover' onclick=selectBookingDate('" + dd + mm + yy + "')>" + x + "</div>";
            counter++;
        }
        for (i = 1; i <= daysInMonth; i++) {
            var theDay = new Date(d.getTime());
            theDay.setDate(i);
            theDay.setMonth(m);
            var dd = i;
            if (dd < 10) dd = "0" + dd;
            var mm = m;
            if (mm < 10) mm = "0" + mm;
            if (m == d.getMonth() &&
                i == d.getDate() &&
                y == d.getFullYear())
                days = days + "<div class='myselectedday' onclick=selectBookingDate('" + dd + mm + y + "')>" + i + "</div>";
            else {
                if (theDay < today || (theDay <= today && today.getHours() >= 16)) {
                    days = days + "<div class='mydays'>" + i + "</div>";
                }
                else
                    days = days + "<div class='mydays hover' onclick=selectBookingDate('" + dd + mm + y + "')>" + i + "</div>";
            }
            counter++;
        }
        for (i = counter + 1; i <= 42; i++) {
            var x = i - counter;
            var dd = x;
            if (dd < 10) dd = "0" + dd;
            var mm = m + 1;
            var yy = y;
            if (mm > 11) {
                mm = 0;
                yy += 1;
            }
            if (mm < 10) mm = "0" + mm;
            days = days + "<div class='notAvailableDay hover' onclick=selectBookingDate('" + dd + mm + yy + "')>" + x + "</div>";
        }
        document.getElementById("calendar-days").innerHTML = days;
    }



    function nextMonth() {
        date.setDate(1);
        date.setMonth(date.getMonth() + 1);
        setDate(date);
        resetArr();
    }

    function prevMonth() {
        console.log(today);
        if (date.getMonth() == today.getMonth() && date.getFullYear() == today.getFullYear()) return;
        date.setDate(1);
        date.setMonth(date.getMonth() - 1);

        if (date > today)
            setDate(date);
        else if (today.getHours() >= 16) {
            date.setDate(today.getDate() + 1);
            setDate(date);
            console.log(date, today);
        }
        else
            setDate(today);
        resetArr();
    }

    function loadBooking(str) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                console.log(JSON.parse(this.responseText), str);
                availableNumber = JSON.parse(this.responseText).time;
                loading = false;
                setSelectedCards(date);
            }
        }
        xhttp.open("GET", "/api/get-available?id=" + equipmentId + "&date=" + str, true);
        xhttp.send();
    }

    function setDate(date) {
        resetArr();
        document.getElementById("bookButton").className = canBook();
        document.getElementById("guideText").className = canBook();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();
        if (d < 10) d = "0" + d;
        if (m < 10) m = "0" + m;
        selectBookingDate(d + m + y + "");
    }

    function selectBookingDate(str) {
        console.log(str);
        resetArr();
        document.getElementById("bookingCards").innerHTML = "<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>";
        var m = parseInt(str.substring(2, 4));
        m += 1;
        if (m < 10) m = "0" + m;
        loadBooking(str.substring(4, 8) + "-" + m + "-" + str.substring(0, 2));
        date.setDate(parseInt(str.substring(0, 2)));
        date.setMonth(parseInt(str.substring(2, 4)));
        date.setFullYear(parseInt(str.substring(4, 8)));
        setCalendar(date);
        getDate();
    }

    function setSelectedCards(dd) {
        if (loading) {
            document.getElementById("bookingCards").innerHTML = "<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>"
            return;
        }
        var i, selectedTime = "";
        selectedTime = "";
        for (i = 0; i < 8; i++) {
            var start = i + 9;
            if (start == 9) start = "09";
            var end = i + 10;
            if (dd.getDate() == today.getDate() &&
                dd.getMonth() == today.getMonth() &&
                dd.getFullYear() == today.getFullYear() &&
                i + 9 <= today.getHours() ||
                availableNumber[i] == 0
            ) selectedTime = selectedTime +
                `<div class="checkTime notAvailable">
                <img class="clock" src="@clockRed"/>
                <p>`+ start + `:00 - ` + end + `:00</p>
            </div>`;
            else if (bookingArr[i]) selectedTime = selectedTime +
                `<div class="checkTime selected" onclick="cardSelect(` + i + `)">

                <div class="checkIconContainer">
                    <img class="checkIcon" src="@checkIcon"/>
                </div>
                <img class="clock" src="@clockWhite"/>
                <p>`+ start + `:00 - ` + end + `:00</p>
            </div>`;
            else selectedTime = selectedTime +
                `<div class="checkTime notSelected" onclick="cardSelect(` + i + `)">
                <div class="availableNumber">`+ availableNumber[i] + `</div>
                <img class="clock" src="@clockSkyblue"/>
                <p>`+ start + `:00 - ` + end + `:00</p>
            </div>`;
        }
        document.getElementById("bookingCards").innerHTML = selectedTime;
    }

    function cardSelect(n) {
        bookingArr[n] = !bookingArr[n];
        setSelectedCards(date);
        document.getElementById("bookButton").className = canBook();
        document.getElementById("guideText").className = canBook();
    }

    function getDate() {
        document.getElementById("getDate").innerHTML = date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
    }

    function book(login, userId) {
        var start, end, b = false;
        for (var i = 0; i < 8; i++) {
            if (bookingArr[i] && !b) {
                start = i + 9;
                b = true;
            }
            else if (b && !bookingArr[i]) {
                end = i + 9;
                b = false;
                post(start, end);
            }
        }
        if (b) {
            end = 17;
            post(start, end);
        }
        function post(s, e) {
            if (login == "False") {
                window.location.replace("/login");
                return;
            }
            else {
                console.log("จองแล้ว", s, e);
                if (s == 9) s = "09";
                var formData = new FormData();
                formData.append("equipmentId", equipmentId);
                formData.append("startDate", formatDate(date) + ":" + s);
                formData.append("endDate", formatDate(date) + ":" + e);
                formData.append("userId", userId);
                var request = new XMLHttpRequest();
                request.onreadystatechange = function () {
                    document.getElementById("confirmPopup").innerHTML = "<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div><div class='wait'>กรุณารอสักครู่ ระบบกำลังทำการจอง</div>";
                    if (this.readyState == 4 && this.status == 200) {
                        var error = JSON.parse(this.responseText);
                        console.log(this.responseText.userId);
                        console.log(this.responseText);
                        document.getElementById("confirmPopup").innerHTML = "<div>การจองสำเร็จ</div>";
                        if (error.userId) {
                            document.getElementById("confirmPopup").innerHTML = "<div>ขออภัยคุณไม่สามารถทำการจองได้</div>";
                            
                        }
                        document.getElementById("confirmPopup-background").onclick=reloadPage;
                    }
                }
                request.open("POST", "/api/book", true);
                request.send(formData);

            }

        }

    }

    function reloadPage() {
        document.getElementById("confirmPopup").className = "hidden";
        document.getElementById("confirmPopup-background").className = "hidden";
        window.location.reload();        
    }

    function toConfirm() {
        var list = "", b = false;
        for (var i = 0; i < 8; i++) {
            var time = i + 9;
            if (time == 9) time = "09";
            if (bookingArr[i] && !b) {
                list = list + "<p>" + time + ":00 น. - ";
                b = true;
            }
            else if (b && !bookingArr[i]) {
                list = list + time + ":00 น.</p>";
                b = false;
            }
        }
        if (b) {
            list = list + 17 + ":00 น.</p>";
        }
        document.getElementById("bookingList").innerHTML = list;
        document.getElementById("confirmPopup").className = "show";
        document.getElementById("confirmPopup-background").className = "show";
    }

    function cancelBooking() {
        document.getElementById("confirmPopup").className = "hidden";
        document.getElementById("confirmPopup-background").className = "hidden";
    }
</script>
